<!doctype html>
<html lang="en">
<head>
    <title> Visa Application System |  @ViewData["Title"] </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/login.css" rel="stylesheet" />
  
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/sidemenu.css" rel="stylesheet" />
    <link href="~/css/datatable.min.css" rel="stylesheet" />
    <link href="~/css/semantic.min.css" rel="stylesheet" />
    <link href="~/css/datatables.semanticui.min.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
    <style>

        .field-error {
            color: red;
            display: block;
        }

        .field-valid {
            display: none;
        }
    </style>
</head>
<body style="background-image: url('img/login.jpg');">

    <section class="ftco-section">
        @RenderBody();
    </section>
    <script src="~/js/jquery.min.js"></script>
    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/popper.js"></script>
    @*     <script src="~/js/general.js"></script> *@
    <script src="~/js/datatables.min.js"></script>
    @*     <script src="~/js/validation.js"></script> *@
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script>
        $('.datetoday').flatpickr({
            minDate: "today",
            defaultDate: "today",
            dateFormat: "Y-m-d"
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
